<div class="row" *ngIf="quiz; else noConnection">
  <h3 class="mx-auto">{{quiz.title}}</h3>
  <div class="row w-100 mt-2 mb-5">
    <div class="col-sm-2">
      <h4 class="mx-auto">{{ numConnected }} people</h4>
    </div>
    <div class="col-sm">
      <div class="mx-auto">
        <div class="my-2">
          <div *ngIf="nextQuestion">
            <h1 style="font-size: 4.5rem">{{nextQuestion.question}}</h1>
            <div class="row">
              <div *ngFor="let choice of nextQuestion.choices" style="font-size: 4rem" class="col text-center">
                {{choice.text}}
              </div>
            </div>
          </div>
          <div *ngIf="currentResults" class="row">
            <div *ngFor="let choice of nextQuestion.choices" class="col text-center" style="font-size: 4rem">
              {{currentResults.results[choice.choiceId] || 0}}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<ng-template #noConnection>
  <div class="row">
    <h1 class="text-center mx-auto">Waiting for quiz to start...</h1>
  </div>
</ng-template>