<div class="row d-flex justify-content-center align-items-center my-5" *ngIf="!quiz; else content">
  <mat-spinner></mat-spinner>
</div>
<ng-template #content>
  <div class="row">
    <div class="col my-2 mx-1">
      <h1>{{quiz?.title}}</h1>
      <div class="row">
        <div class="col d-flex align-items-center">
          <p class="font-weight-light text-secondary">{{quiz?.quizId}}</p>
        </div>
        <div class="col text-right">
          <p>
            <span style="font-size: 25px">{{alivePlayers.length}}</span> players still alive</p>
        </div>
      </div>
      <mat-chip-list ariaOrientation="horizontal">
        <mat-chip color="primary" [selected]="quiz?.active">{{quiz?.active ? 'Active' : 'Inactive'}}</mat-chip>
        <mat-chip color="primary" [selected]="quiz?.auth">{{quiz?.auth ? 'Requires QT Auth' : 'No Auth'}}</mat-chip>
        <mat-chip color="primary" *ngIf="quiz?.completed" [selected]="quiz?.completed">Completed</mat-chip>
      </mat-chip-list>
      <button class="float-right mx-2" mat-raised-button color="error" (click)="resetQuiz()" [disabled]="!quiz?.active">Reset</button>
      <button class="float-right" mat-raised-button color="primary" (click)="onUpdate()" [disabled]="!hasChanged()">Update</button>
      <button class="float-right mx-2" mat-raised-button color="accent" (click)="onStart()" [disabled]="!canStart()">Start</button>
      <button class="float-right mx-2" mat-raised-button color="warn" *ngIf="quiz?.active && !quiz.completed && hasQuizRoom() && allSent"
        (click)="onSendWinners()">Send Winners</button>
      <button class="float-right mx-2" mat-raised-button color="accent" *ngIf="!hasQuizRoom()" (click)="onCreateQuizRoom()">Create
        Quiz Room</button>
      <button class="float-right mx-2" mat-raised-button color="secondary" *ngIf="hasQuizRoom()" (click)="onDeleteQuizRoom()">Delete
        Quiz Room</button>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div class="my-2" *ngFor="let question of quiz?.questions">
        <cb-question-card [question]="question" [disableActions]="!quiz?.active" (start)="onQuestionStart($event)"
          (results)="onCalculateResults($event)"></cb-question-card>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            JSON
          </mat-panel-title>
        </mat-expansion-panel-header>
        <pre>{{quiz | json}}</pre>
      </mat-expansion-panel>
    </div>
  </div>
</ng-template>