<div class="row">
  <div class="col d-flex justify-content-center flex-column mx-auto" style="max-width: 40%">
    <form [formGroup]="loginForm" class="d-flex justify-content-center flex-column">
      <div *ngIf="!tokenSubmitted; else verifyForm">
        <mat-form-field>
          <input class="my-3" type="text" matInput formControlName="token" placeholder="Token">
        </mat-form-field>
        <button class="ml-3" mat-button (click)="submitToken()" color="primary">Next</button>
      </div>
      <ng-template #verifyForm>
        <mat-form-field>
          <input class="my-3" type="phone" matInput formControlName="phone" placeholder="Phone">
        </mat-form-field>
        <button class="ml-3" mat-button (click)="login()" color="primary">Login</button>
      </ng-template>
    </form>
  </div>
</div>