<mat-card>
  <mat-card-title>
    <div class="row">
      <h3 class="px-2">{{question.questionNum}})</h3>
      {{question.question}}
    </div>
  </mat-card-title>
  <mat-card-subtitle *ngIf="question.sent">
    <div class="row mx-2">
      <div class="col">
        <h6>
          <span class="font-weight-bold">Sent:</span> {{question.sent | date:'full'}}</h6>
        <h6>
          <span class="font-weight-bold">Expires:</span> {{question.expired | date:'full'}}</h6>
      </div>
    </div>
  </mat-card-subtitle>
  <mat-card-content>
    <div class="d-flex flex-row">
      <button *ngFor="let choice of question.choices" class="mx-2" mat-flat-button color="accent" (click)="onChoiceSelect(choice)">{{choice.text}}</button>
    </div>
  </mat-card-content>
  <mat-card-actions>
    <div class="row mx-2">
      <button *ngIf="!question.sent" mat-raised-button color="primary" (click)="onSend()">Send</button>
    </div>
  </mat-card-actions>
</mat-card>