<div class="col p-0">
  <form [formGroup]="fantasyForm">
    <div class="row">
      <mat-form-field class="col-4 px-2">
        <mat-select formControlName="position" placeholder="Position">
          <mat-option *ngFor="let position of positions" [value]="position">
            {{position}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <div *ngIf="playerOptions" class="col-8">
        <div formArrayName="players" *ngFor="let player of fantasyForm.controls.players.controls; let i = index;">
          <div class="row col">
            <mat-form-field class="w-100">
              <input type="text" matInput [formControlName]="i" placeholder="Pick" [matAutocomplete]="auto">
            </mat-form-field>
            <mat-autocomplete #auto="matAutocomplete" class="w-100" [displayWith]="autocompleteDisplay">
              <mat-option *ngFor="let option of filteredOptions[i] | async" [value]="option">
                {{ option.label }}
              </mat-option>
            </mat-autocomplete>
          </div>
        </div>
        <!-- <mat-form-field class="col-8">
          <mat-select formControlName="position" placeholder="Position">
            <mat-option *ngFor="let option of playerOptions" [value]="position">
              {{position}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field class="col-4">
          <input matInput placeholder="Spread" type="number" min="0" name="spread" formControlName="spread">
        </mat-form-field> -->
      </div>
    </div>
  </form>
</div>