<div class="row mb-5">
  <div class="col">
    <h1>{{createQuizForm.controls.title.value || 'New Quiz'}}</h1>
    <form [formGroup]="createQuizForm">
      <div class="d-flex flex-column">
        <div class="d-flex flex-row">
          <mat-form-field style="flex: 3">
            <input matInput placeholder="Title" type="text" name="title" formControlName="title">
          </mat-form-field>
          <mat-form-field class="ml-5" style="flex: 1">
            <input matInput placeholder="Amount" type="number" name="potAmount" formControlName="potAmount">
          </mat-form-field>
          <!-- <mat-checkbox class="ml-5 pt-2" style="flex: 1" placeholder="Auth" type="checkbox" name="auth" -->
          <!-- formControlName="auth">Enforce correct answers</mat-checkbox> -->
        </div>
        <div class="d-flex flex-row mt-3">
          <h3>Questions</h3>
        </div>
        <div formArrayName="questions" *ngFor="let question of questions.controls; let i = index;">
          <cb-question-creator [questionNum]="i + 1" [topics]="topics" [formControlName]="i"></cb-question-creator>
          <mat-divider class="mt-3"></mat-divider>
        </div>
        <div class="row p-4">
          <button mat-raised-button color="accent" (click)="onSubmit()" [disabled]="createQuizForm.invalid">Create</button>
          <button class="ml-3" mat-raised-button color="primary" (click)="addQuestion()">Add Question</button>
        </div>
      </div>
    </form>
  </div>
</div>