.close-button {
    height: 50%;
    align-self: center;
    background: none;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    color: gray;
}

.close-button:hover {
    color: black;
    background-color: rgba(100, 100, 100, 0.1);
}