<mat-card>
  <mat-card-title>
    <div class="row">
      <div class="col">
        <div class="row" [ngStyle]="{fontSize: titleSize}">
          <span class="pr-2 font-weight-bold">{{question.questionNum}})</span>
          {{question.question}}
        </div>
      </div>
      <div class="col-5 my-auto" *ngIf="showInfo">
        <div class="row justify-content-end mr-5">
          <h6 class="px-2">Topic:
            <span class="font-weight-bold">{{question.topic?.label}}</span>
          </h6>
          <h6 class="px-2">Ticker:
            <span class="font-weight-bold">{{question.ticker}}</span>
          </h6>
        </div>
      </div>
    </div>
  </mat-card-title>
  <mat-card-subtitle *ngIf="question.sent">
    <div class="row mx-2">
      <div class="col">
        <h6>
          <span class="font-weight-bold">Sent:</span> {{question.sent | date:'mediumTime'}}</h6>
        <h6 class="font-weight-bold text-primary" *ngIf="!expired()">Expires in {{secondsRemaining}} seconds</h6>
        <h6 class="font-weight-bold text-danger" *ngIf="expired()">Expired</h6>
      </div>
    </div>
  </mat-card-subtitle>
  <mat-card-content>
    <div class="d-flex flex-row">
      <button *ngFor="let choice of question.choices" class="mx-2" mat-flat-button color="primary" (click)="onChoiceSelect(choice)">{{choice.text}}</button>
    </div>
  </mat-card-content>
  <mat-card-actions *ngIf="!disableActions">
    <div class="row mx-2">
      <div class="col-8">
        <button mat-raised-button color="secondary" (click)="onSend()">{{question.sent? 'Send again' : 'Send'}}</button>
        <button *ngIf="question.sent" mat-raised-button color="secondary" (click)="onResultsCalculate()">Send Results</button>
      </div>
      <div class="col-4 d-flex flex-row-reverse">
        <button *ngIf="canGenerateRandomResults()" mat-raised-button color="warn" (click)="onGenerateRandomResults()">Generate
          random
          results</button>
      </div>
    </div>
  </mat-card-actions>
</mat-card>