<form *ngIf="!quizRoom || quizRoom.disconnected; else connectMessage" class="example-form" (ngSubmit)="onSubmit()" #form="ngForm">
  <mat-form-field class="example-full-width">
    <input required matInput placeholder="Quiz Id" name="quizId" [(ngModel)]="quizId">
  </mat-form-field>
  <button mat-button type="submit" [disabled]="form.invalid">Connect to Quiz</button>
</form>
<ng-template #connectMessage>
  <h3>Connected to {{quizId}}</h3>
</ng-template>
<button *ngIf="quizRoom?.connected" mat-button color="warn" (click)="onDisconnect()">Disconnect</button>
<div class="row">
  <div class="col">
    <cb-question-card *ngFor="let question of questions" [question]="question" (choiceSelected)="selectChoice($event)"></cb-question-card>
  </div>
</div>