<div *ngIf="!quizRoom; else content" class="row text-center">
  <div class="col">
    <div class="row justify-content-center">
      <i class="material-icons text-danger" style="font-size: 50px">close</i>
    </div>
    <div class="row justify-content-center">
      <h5>Quiz Room does not exist for "{{quizId}}"</h5>
    </div>
  </div>
</div>
<ng-template #content>
  <div class="row">
    <h3>Connected to {{quizId}}</h3>
    <button *ngIf="quizRoom?.connected" mat-button color="warn" (click)="onDisconnect()">Disconnect</button>
    <div class="row w-100">
      <div class="col mb-5">
        <div *ngFor="let event of events; index as i">
          <div [ngSwitch]="event.type">
            <cb-question-card *ngSwitchCase="'question'" [question]="event.value" (choiceSelected)="selectChoice($event)" [disableActions]="true">
            </cb-question-card>
            <cb-results-card *ngSwitchCase="'results'" [question]="question(i - 1)" [results]="event.value"></cb-results-card>
            <!-- <cb-question-card *ngSwitchCase="winners" [question]="question" (choiceSelected)="selectChoice($event)" [disableActions]="true"></cb-question-card> -->
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-template>