<div class="col p-0">
  <form [formGroup]="detailsForm">
    <div class="row">
      <mat-form-field class="col-4 px-2">
        <mat-select formControlName="subjectId" placeholder="Game">
          <mat-option *ngFor="let subject of questionSubjects" [value]="subject.subjectId">
            {{subject.label}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <div *ngIf="teams" class="col-8">
        <mat-form-field class="col-8">
          <mat-select formControlName="favoredTeam" placeholder="Favorite">
            <mat-option [value]="teams.home">
              {{teams.home.team.name}}
            </mat-option>
            <mat-option [value]="teams.away">
              {{teams.away.team.name}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field class="col-4">
          <input matInput placeholder="Spread" type="number" min="0" name="spread" formControlName="spread">
        </mat-form-field>
      </div>
    </div>
  </form>
</div>